// css header
.action_return_home {
    background: rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: #1f8a70;
        cursor: pointer;
    }
}
.action_move_top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.1rem solid #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    transition: all 0.3s ease-in-out;
    svg {
        font-size: 2.4rem;
        color: #fff;
    }
    span {
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--hover_background_color);
    }
}

// css about
.wrapper_about_home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .detail_info_about {
        & > button {
            margin-top: 20%;
        }
        & > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }
    }
}
.poster_shop {
    min-height: 40rem;
    position: relative;
    display: flex;
    justify-content: center;
    --background_color: transparent;

    .tag_about {
        position: absolute;
        top: 10%;
        right: 10%;
        height: 4rem;
        padding: 1.2rem;
        background-color: var(--background_color);
        border-radius: var(--primary_border_radius);
        box-shadow: 0.5rem 0.5rem 1.5rem 0.5rem #000000;
        width: 18rem;

        &::after {
            content: "";
            position: absolute;
            bottom: -1.2rem;
            left: 1.7rem;
            display: block;
            border-right: 2.5rem solid transparent;
            border-bottom: 2.5rem solid var(--background_color);
            transform: rotate(-45deg);
        }
        // &::before {
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     display: block;
        //     background-color: var(--background_color);
        //     border-radius: var(--primary_border_radius);
        // }
    }
    img {
        transition: all 0.4s ease-in-out;
        z-index: 1;

        transform: rotate(-10deg);
        &:hover {
            cursor: cell;
            transform: rotate(-30deg) scale(1.3);
        }
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 80%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 60% 40% 64% 36% / 69% 41% 59% 31%;
        z-index: 0;
        animation: slow 4s ease-in-out infinite alternate;
    }
    @keyframes slow {
        0% {
            transform: translateX(-5rem);
        }
        100% {
            transform: translateX(5rem);
        }
    }
}

.detail_info_about {
    min-height: 40rem;
    h1 {
        font-size: 4.2rem;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 5rem;
        line-height: 4.6rem;
    }
    span {
        margin-top: 1rem;
        display: block;
        color: #ccc;
    }
}

.wrapper_poster_home {
    // height: max-content;
    height: 50vh;
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
    & > div:nth-child(1) {
        height: 100%;
    }
    & > div {
        position: absolute;
        height: 50%;
        width: 50%;
        &:hover {
            cursor: pointer;
        }
        &:hover::after {
            display: block;
        }
        &:hover > button {
            display: flex;
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
                0deg,
                rgba(57, 71, 187, 0.6) 20%,
                rgba(171, 80, 189, 0.2) 84%
            );
            display: none;
            animation: watchPoster 0.4s ease-in-out;
        }
    }
    div > button {
        display: none;
        z-index: 2;
    }
}

.wrapper_category_home {
    height: unset;
    width: 100%;

    .wrapper_slider_category {
        overflow: hidden;
        padding: 1.2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            margin-bottom: 2.4rem;
            margin-top: 1.2rem;
            & > div {
                position: relative;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                &:hover .hover {
                    display: block;
                }
                &:hover button {
                    display: block;
                }
                button {
                    display: none;
                }
                img {
                    border-radius: calc(var(--primary_border_radius) * 10);
                    width: 100%;
                    max-width: 50rem;
                }
                .hover {
                    animation: watchPoster 0.4s ease-in-out;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(
                        0deg,
                        rgba(57, 71, 187, 0.6) 20%,
                        rgba(171, 80, 189, 0.2) 84%
                    );
                    border-radius: calc(var(--primary_border_radius) * 10);
                    display: none;
                }
            }
            span {
                font-size: 1.8rem;
                margin-top: 2.4rem;
                display: block;
                min-width: 10rem;
                text-align: center;
            }
        }
    }
}

// csss slider show product
.wrapper_category_home {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    // overflow: auto;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
        display: none;
    }
    .wrapper_slider_show_product {
        transition: 0.5s;
        width: max-content;
        flex-wrap: nowrap;
        flex-shrink: 0;
        justify-content: center;

        .item {
            height: 35rem;
            // width: 100%,
            min-width: 30rem;
            max-width: calc(100% - 2.4rem);
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-radius: var(--primary_border_radius);
            flex-shrink: 0;
            transition: 1s;
            margin: 1.2rem;
            .tag_sale {
                position: absolute;
                top: 1rem;
                left: -1rem;
                width: 5rem;
                height: 2rem;
                font-size: 1.4rem;
                background-color: #eb455f;
                line-height: 2rem;
                text-align: center;
                color: #fff;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -0.6rem;
                    left: 0px;
                    border-left: 0.8rem solid transparent;
                    border-right: 0.8rem solid transparent;
                    border-bottom: 0.8rem solid #eb455f;
                    transform: rotate(45deg);
                }
            }
            span {
                color: #ff6e31;
                margin-top: 1.2rem;
                display: block;
            }
            h1 {
                color: #fff;
            }
            img {
                width: 50%;
                max-width: 20rem;
                height: 50%;
                max-height: 13rem;
                object-fit: cover;
                // transform: rotate(20deg);
            }
        }
    }
    .icon_back,
    .icon_next {
        position: absolute;
        font-size: 3.2rem;
        bottom: 50%;
        width: 5.5rem;
        height: 5rem;
        padding: 1.2rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: var(--primary_border_radius);
        z-index: 1;
        transform: translateY(50%);

        &:hover {
            cursor: pointer;
            color: #1f8a70;
        }
    }
    .icon_next {
        right: 0;
    }
    .icon_back {
        left: 0;
    }
}

.wrapper_help_home {
    height: 50rem;

    img {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 30rem solid black;
        border-right: 30rem solid transparent;
        border-top: 50rem solid transparent;
    }

    & > div {
        background-color: #000000;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        div {
            height: 50%;
            width: 70%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            h1 {
                font-size: 3.2rem;
                width: 100%;
                height: 10rem;
                line-height: 4rem;
                font-weight: bold;
            }
            p {
                font-size: 1.8rem;
                color: #ccc;
                width: 120%;
                height: 4rem;
                line-height: 2.4rem;
            }
            button {
                margin-top: 6rem;
            }
        }
    }
}
.name_type_shoes {
    border-bottom: 0.1rem solid #ccc;
    width: 100%;

    li {
        padding: 0.6rem;
        font-size: 1.8rem;

        &:hover {
            color: #e90064 !important;
            cursor: pointer;
        }
    }
}
$primary-color: #00005c; // Change color here. C'mon, try it!
$text-color: mix(#000, $primary-color, 64%);

// Codepen spesific styling - only to center the elements in the pen preview and viewport
.wrapper_select_gender {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 0.1rem solid #ccc;
    margin-top: 1.2rem;
    label {
        display: flex;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        overflow: hidden;

        input {
            position: absolute;
            left: -9999px;
            &:checked + span {
                background-color: mix(#f7f5eb, $primary-color, 84%);
                &:before {
                    box-shadow: inset 0 0 0 0.4375em $primary-color;
                }
                color: #fff;
            }
        }
        span {
            display: flex;
            align-items: center;
            padding: 0.375em 0.75em 0.375em 0.375em;
            border-radius: 99em; // or something higher...
            transition: 0.25s ease;
            &:hover {
                background-color: mix(#fff, $primary-color, 84%);
            }
            &:before {
                display: flex;
                flex-shrink: 0;
                content: "";
                background-color: #fff;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                margin-right: 0.375em;
                transition: 0.25s ease;
                box-shadow: inset 0 0 0 0.125em $primary-color;
            }
        }
    }
}

.main_content-show-cart {
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.1);
        background-color: #f5f5f5;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar {
        width: 0.4rem;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: #fff;
        background-image: -webkit-linear-gradient(
            top,
            #e4f5fc 0%,
            #bfe8f9 50%,
            #9fd8ef 51%,
            #2ab0ed 100%
        );
    }
}
@keyframes watchPoster {
    from {
        opacity: 0;
        background: linear-gradient(
            0deg,
            rgba(57, 71, 187, 0.6) 0,
            rgba(171, 80, 189, 0.2) 20
        );
    }
    to {
        opacity: 1;
        background: linear-gradient(
            0deg,
            rgba(57, 71, 187, 0.6) 20%,
            rgba(171, 80, 189, 0.2) 84%
        );
    }
}
