.input_text {
    position: relative;
    width: var(--width_input);
    // animation: renderColorInput 0.5s linear;
    input {
        border: none;
        padding: 6px 12px;
        font-size: 18px;
        outline: none;
        background-color: transparent;
        height: 100%;
        position: relative;
    }
    input:focus + label {
        top: -30%;
        left: 0;
        color: var(--color_label);
    }
    input:not(:placeholder-shown) + label {
        top: -30%;
        left: 0;
        color: var(--color_label);
    }
    label {
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translateY(-50%);
        text-transform: capitalize;
        color: #ccc;
    }

    span {
    }
}
