.wrapper_cart_item_main {
    &:hover {
        transform: scale(1.01);
        cursor: pointer;
        background: linear-gradient(0deg, rgba(169, 57, 187, 1) 20%, rgba(80, 81, 189, 1) 84%) !important;
    }
}
