.wrapper_item_store_cart {
    &:hover {
        cursor: pointer;
        background-color: rgba(202, 193, 193, 0.1) !important;
    }
}
.main_content_item-store {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.1);
        background-color: #f5f5f5;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar {
        width: 4px;
        background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: #fff;
        background-image: linear-gradient(
            0deg,
            rgba(169, 57, 187, 1) 20%,
            rgba(80, 81, 189, 1) 84%
        );
    }
}
.image_item_store {
    transition: 0.5s;
    &:hover {
        transform: rotate(20deg);
        cursor: pointer;
        border-color: aqua !important;
    }
}
.icon_remove_icon {
    &:hover {
        color: #e90064 !important;
        cursor: pointer;
    }
}

.wrapper_manager_step_check-out {
    width: 4rem;
    height: 20%;
    position: absolute;
    left: -4rem;
    top: 4rem;
    border-radius: var(--primary_border_radius) 0 0 var(--primary_border_radius);
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;

    div {
        height: 1rem;
        width: 1rem;
        margin: 0.6rem 1.2rem;
        border-radius: 50%;
    }
}

.option_drop_down {
    position: absolute;
    top: 4rem;
    left: 0;
    max-height: 30rem;
    width: 100%;
    border-radius: var(--primary_border_radius);
    box-shadow: 0.2rem 1.4rem 1.3rem 0.2rem #000000;
    overflow-y: scroll;
    z-index: 4;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #f5f5f5;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar {
        width: 0.4rem;
        background-color: #f5f5f5;
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: #fff;
        background-image: -webkit-linear-gradient(
            top,
            #e4f5fc 0%,
            #bfe8f9 50%,
            #9fd8ef 51%,
            #2ab0ed 100%
        );
    }

    div {
        padding: 1.2rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }
}

.icon_reload {
    font-size: 2.4rem;
    animation: reload 1s ease-in-out infinite;
    animation-delay: 0.2s;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    @keyframes reload {
        from {
            opacity: 1;
            transform: rotate(0);
        }
        to {
            opacity: 0;
            transform: rotate(420deg);
        }
    }
}
