.show_nofication_display_none {
    display: none;
}

.wrapper_admin {
    width: 100%;
    height: 100vh;
    padding: 0 var(--space_main);
    overflow: hidden;
}

.icon_action_admin {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.action_setting {
    --background_hover: 'transparent';
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18rem;
    &:hover {
        background-color: var(--background_hover);
    }
}
.wrapper_setting_admin,
.wrapper_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    width: 80%;

    .action_setting {
        padding: 1.2rem;
        border-top-right-radius: var(--primary_border_radius);
        border-top-left-radius: var(--primary_border_radius);
        --background_hover: transparent;
        &:hover {
            cursor: pointer;
            background-color: var(--background_hover) !important;
        }

        svg {
            font-size: 1.8rem;
        }
    }
}

// css table
.wrapper_layout_manager,
.table_manager {
    animation: showManager 0.5s ease-in-out;

    @keyframes showManager {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
.wrapper_setting_admin {
    width: unset;
}
.wrapper_table_manager {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .wrapper_table {
        width: 80%;
        border-radius: var(--primary_border_radius);
        overflow: hidden;
    }
    .table {
        width: 100%;
        height: 3rem;
        padding: 1.2rem;
        tbody {
            width: 100%;
        }
        th {
            padding: 1.2rem;
            width: calc((100% / 5));
        }
    }

    .icon_sort {
        font-size: 1.8rem;
        margin-right: 0.6rem;
        cursor: pointer;
        &:hover {
            color: var(--primary_color);
        }
    }
    .show_mobile {
        display: none;
    }
}
.wrapper_layout_manager {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .layout {
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1.2rem;
        border-radius: var(--primary_border_radius);
        height: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .item_card_manager {
            position: relative;
            width: 100%;
            padding: 3.2rem;
            height: calc(50% - 1.2rem);
            align-items: center;
            justify-content: flex-start;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1.4rem;
            border-radius: var(--primary_border_radius);
            padding-left: 10%;
            img {
                border-radius: var(--primary_border_radius);
            }
            .avatar {
                width: 28%;
                height: 100%;
                transform: translateX(20%);
            }
            .wrapper_info_user {
                width: 60%;
            }
            div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                h6,
                span,
                h5 {
                    padding: 1.2rem;
                    width: 100%;
                }
                h5 {
                    font-size: 1.8rem;
                }
            }
            .action {
                width: 80%;
            }
        }
    }
}

// css wrapper_choose_type_show_data

.wrapper_choose_type_show_data {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 1.2rem;
    font-size: 1.8rem;
}

// show hiddem
@media (max-width: 1024px) {
    .wrapper_admin {
        display: none;
    }
    .show_nofication_display_none {
        display: block;
    }
}
