.wrapper_contact {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    a {
        color: #fff;
    }
    svg {
        font-size: 3.2rem;
        margin: 1.2rem;
        --color_hover: #fb2576;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: var(--color_hover);
        }
    }
    & > div {
        width: 50%;
        margin-top: 50px;
        text-align: center;

        & > div {
            margin-bottom: 1.2rem;

            span {
                font-size: 1.8rem;
                line-height: 2.4rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper_contact {
        & > div {
            width: 80%;
        }
    }
}
