.wrapper_menu_header {
    transition: all 0.4s ease-in-out;
    animation: showMenuRightToLeft 0.3s linear forwards;
    --height_menu: unset;
    height: var(--height_menu);
    width: var(--width_menu);
    div {
        &:hover {
            background-color: var(--background_color_hover);
            cursor: pointer;
        }
    }
}

@media (max-width: 600px) {
    .wrapper_menu_header {
        width: 100vw;
        border: none !important;
    }
}
